<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BJ'S TATTOO HAVEN</title>
  <link type="text/css" rel="stylesheet" href="/styles/main.css">
  <link type="text/css" rel="stylesheet" href="/styles/styles.css">
  <script src="https://kit.fontawesome.com/acfa7ab8e7.js"></script>
</head>

<body>
  <section class="hero is-large is-secondary header">
    <div class="hero-body">
      <div class="hamburger">
        <a id="ham"><i class="fas fa-bars"></i></a>
      </div>
      <div class="columns is-mobile has-text-centered navbar is-centered">
        <div class="column navbar">
          <navbar>
            <ul>
              <li class="nav-link"><a href="/">Home</a></li>
              <div class="dropdown">
                <li class="nav-link dropbtn"><a href="/artists">Artists</a></li>
                <div class="dropdown-content">
                  {{#each allArtists}}
                  <a href="/artists/{{id}}" class="artist">{{name}}</a>
                  {{/each}}
                </div>
              </div>
              <li class="nav-link"><a href="/appointments">Inquire</a></li>
            </ul>
          </navbar>
        </div>
      </div>
    </div>
    <div id="mobile-nav" class="columns hidenav">
      <div class="column has-text-centered ">
        <nav>
          <ul>
            <li class="nav-link"><a href="/">Home</a></li>
            <div>
              <li class="nav-link dropbtn"><a href="/artists">Artists</a></li>
              {{!-- <div>
              {{#each allArtists}}
              <a href="/artists/{{id}}" class="artist">{{name}}</a>
              {{/each}}
            </div> --}}
            </div>
            <li class="nav-link"><a href="/appointments">Inquire</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </section>

  {{{body}}}
  <br>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>