<section class="main">
  {{#if artists}}
  <div class="columns is-centered">
    <div class="column is-5">
      <div class="has-text-centered">
        <img class="profilepic" src="/images/{{artists.profilepath}}" />
        <hr>
        <h1 class="title is-2">{{artists.name}}</h1>
      </div>
      <br>
    </div>
    <div class="column is-5">
      <p>{{artists.bio}}</p>
      <p>{{artists.email}}</p>
      {{#each artists.gallerypath}}
      <img src="/images/{{this}}" />
      {{/each}}
    </div>
  </div>
  {{else}}
  blah blah blah
  {{/if}}
</section>